<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#DB0000"/>
  <link rel="apple-touch-icon" sizes="180x180" href="./images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/icons/favicon-16x16.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#main-content" aria-label="skip to content" class="skip-to-content">
    Skip to Content
  </a>
  <header>
    <div class="title" id="home">
      <h1 tabindex="0">Restaurant Apps</h1>
    </div>
    <button aria-label="menu" class="hamburger" id="hamburgerButton">
      <i class="fa-solid fa-bars"></i>
    </button>
      <nav class="nav" id="navigationDrawer">
        <ul class="nav__links">
          <li><a href="/#/restaurant-list">Home</a></li>
          <li><a href="/#/favorite">Favorite</a></li>
          <li><a href="https://github.com/rizkisiraj" target="_blank">About Us</a></li>
        </ul>
      </nav>
  </header>
  <main id="mainContent" tabindex="0">
    
  </main>
  <footer>
    Copyright Rizki Siraj
  </footer>
  <script src="https://kit.fontawesome.com/7ece949bc8.js" crossorigin="anonymous"></script>
</body>
</html>
